<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
	<session-factory>
		<mapping class="com.qait.mathplay.dao.domain.User" />
		<mapping class="com.qait.mathplay.dao.domain.Group" />
		<mapping class="com.qait.mathplay.dao.domain.SecurityQuestion" />
		<mapping class="com.qait.mathplay.dao.domain.Game" />
		<mapping class="com.qait.mathplay.dao.domain.GameDetails" />
		<mapping class="com.qait.mathplay.dao.domain.GroupMember" />
		<mapping class="com.qait.mathplay.dao.domain.Role" />
		<mapping class="com.qait.mathplay.dao.domain.Notification" />
	</session-factory>
</hibernate-configuration>
